<div id="container" *ngFor="let data of extractData">
  <div class="obj">
    <hr style="border: 1px solid #f00" />​
    {{data.name}} ({{data.symbol}})
    <div class="box">
      <div [ngStyle]="{'color': data.percent_change_1h > 0 ? 'green' : 'red'}">
        1 Hr % Change: {{data.percent_change_1h}}%
      </div>
      <div [ngStyle]="{'color': data.percent_change_24h > 0 ? 'green' : 'red'}">
        1 Day % Change: {{data.percent_change_24h}}%
      </div>
    </div>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Price($)</th>
          <th scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>${{data.price_usd}}</td>
          <td>{{data.last_updated *1000 | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="box">
      <div class="box">
        Accounts
      </div>
    Total Coins: 100
    <br />
    Current Value: ${{data.price_usd *100 }}
    </div>
  </div>
</div>
